body {
	margin: 0;
	padding: 0;
	color: #EB7F8F;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
    background-color: #FDECD9;

}

#fp_body { 
	background: #252224 url(images/tooplate_body.jpg) repeat-x top;
}

#sp_body { 
	background: #252224 url(images/tooplate_sp_body.jpg) repeat-x top; 
}

a, a:link, a:visited { 
	color: #e5425b; 
	font-weight: normal; 
	text-decoration: underline; 
	font-size: 12px;
}

a:hover { 
	text-decoration: none; 
}

a.more { 
	display: block; 
	width: 80px; 
	line-height: 26px; 
	height: 25px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(images/tooplate_more.png) no-repeat top center; 
	color: #666; 
}

a.more:hover { 
	color: #e5425b; 
}

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#fff; }
cite span { color: #fff; }
em { color: #fff; }

h1 { color: #1A1A1A; font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { color: #303030; font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #484945; 
	padding: 4px; 
	background: #000; 
	margin-bottom: 5px; 
}
.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

#site_title { 
	float: left; 
}